[package]
name = "scooter-core"
version = "0.2.0"
edition.workspace = true
authors = ["thomasschafer97@gmail.com"]
license = "MIT"
description = "Core find-and-replace functionality"
readme = "README.md"
homepage = "https://github.com/thomasschafer/scooter/tree/main/scooter-core"
repository = "https://github.com/thomasschafer/scooter/tree/main/scooter-core"
keywords = ["find", "search", "replace"]

[lib]
name = "scooter_core"
path = "src/lib.rs"

[lints]
workspace = true

[features]
default = []
steel = ["dep:steel-core", "dep:steel-derive"]

[dependencies]
anyhow = "1.0.100"
bitflags = "2.10.0"
frep-core = "0.1.7"
log = "0.4.28"
rayon = "1.11.0"
similar = "2.7.0"
unicode-width = "0.2.0"
steel-core = { version = "0.7.0", features = [
  "dylibs",
  "sync",
], optional = true }
steel-derive = { version = "0.6.0", optional = true }
syntect = "5.3.0"
tokio = { version = "1.48.0", features = ["full"] }
ignore = "0.4.25"

[dev-dependencies]
insta = "1.43.2"
rand = "0.9.2"
tempfile = "3.23.0"
