name: Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all --check

      - name: Run clippy on all packages
        run: cargo clippy --workspace -- -D warnings

      - name: Run cargo check
        run: cargo check

      - name: Check README
        id: check-readme
        run: cargo xtask readme --check

      - name: Show diff (if outdated)
        if: steps.check-readme.outcome == 'failure'
        run: |
          cargo xtask readme
          git diff README.md
          echo "Run \`cargo xtask readme\` to regenerate"

      - name: Check scooter-core feature combinations
        run: cargo hack check --each-feature --package scooter-core

  test:
    name: Test (${{ matrix.os }})
    needs: [check]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run all tests
        run: cargo test --workspace --verbose

  end-to-end-test:
    name: End-to-end test (${{ matrix.os }})
    needs: [check]
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          # - windows-latest # TODO: add Windows via WSL
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v19

    - name: Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@v13

    - name: Run tests (small test files)
      run: nix run .#end-to-end-test

    - name: Run tests (larger repo)
      run: nix run .#end-to-end-test -- --repo-url https://github.com/thomasschafer/helix
